[submodule "video-service"]
	path = video-service
	url = git@github.com:soulasphyxia/video-service.git
[submodule "account-service"]
	path = account-service
    url = git@github.com:soulasphyxia/account-service.git
[submodule "analytics-service"]
    path = analytics-service
    url = git@github.com:soulasphyxia/analytics-service.git
[submodule "notification-service"]
    path = notification-service
    url = git@github.com:soulasphyxia/notification-service.git
[submodule "processing-service"]
    path = processing-service
    url = git@github.com:soulasphyxia/processing-service.git
